.Item{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-bottom: 25px;
    
}
.ItemContent{
    text-decoration: none;
    text-align: center;
}

.Item picture img{
    width: 100%;
}
.Item p{
    font-family: monospace;
    font-size: 16px;
    margin: 3px 0px;
    color: #114e60;
}