.ItemCount{
    width: 90%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ItemCount .Count{
    width: 100%;
    display: flex;
    border: 1px solid rgba(17, 77, 96, 0.5);
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 10px;
}

.ItemCount .Count button{
    color: #114e60;
    height: 100%;
    font-size: 25px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ItemCount .AddCart{
    color: #114e60;
    background-color: #f4eee8;
    border: none;
    width: 100%;
    margin: 0px auto;
    height: 32px;
    cursor: pointer;
}
.ItemCount .AddCart:hover{
    color: #f4eee8;
    background-color: #325288;
}

